<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/stayle_damy.css">
</head>
<body>
    
</body>
</html>

<div class="jumbotron jumbotron-fluid">
  <img class="hana1" src="../static/img/hana_damy.jpg">
  <img class="hana2" src="../static/img/hana_damy.jpg">
  <h1>SUNABACO おこまりごと</h1>
  <p>SUNABACOの質問&回答ページです</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/index_damy.js"></script>
<div class="accordions">
  <dl class="accordion">
    <dt class="accordion__title">
     <h2>質問</h2>
      <button class="accordion__btn" type="button"> 
        <textarea name="area1" style="width:100%; height:80px;"></textarea>
      </button>
    </dt>
    <dd class="accordion__body">
      <p class="accordion__text">
        <span>回答</span>
        <textarea name="area1" style="width:100%; height:80px;"></textarea>
      </p>
    </dd>
    <dt class="accordion__title">
      <h2>質問</h2>
      <button class="accordion__btn" type="button">
        <textarea name="area1" style="width:100%; height:80px;"></textarea>
      </button>
    </dt>
    <dd class="accordion__body">
      <p class="accordion__text">
        <span>回答</span>
        <textarea name="area1" style="width:100%; height:80px;"></textarea>
        
      </p>
    </dd>
    <dt class="accordion__title">
      <h2>質問</h2>
      <button class="accordion__btn" type="button">
        <textarea name="area1" style="width:100%; height:80px;"></textarea>
      </button>
    </dt>
    <dd class="accordion__body">
      <p class="accordion__text">
        <span>回答</span>
        <textarea name="area1" style="width:100%; height:80px;"></textarea>
      </p>
    </dd>
  </dl>
</div>
