{% extends"base.html" %}
{% block content %}

<a class="a_center" href="/add">質問を投稿する</a>

<h1 class="h1_center">！回答募集中！</h1>

<!-- Pythonから受け取ったデータ分リスト作成 for文 -->
{% for item in tpl_task_list %}
<div class="accordions">
    <dl class="accordion">
      <dt class="accordion__title">
        <button class="accordion__btn" type="button"> 
            <p class="list">{{item["tpl_task"]}}</p>
        </button>
      </dt>
      <dd class="accordion__body">
        <p class="accordion__text">
            <div class="list_div">
                <a href="/answer/{{item['tpl_id']}}">回答する</a>
                <form action="/delete/{{item['tpl_id']}}" method="post">
                    <input type="submit" value="削除">
                </form>
            </div>
        </p>
      </dd>

{% endfor %}
{% endblock %}